@{
    ViewData["Title"] = "Admin Paneli";
}

<h2 class="mb-4">Admin Paneli</h2>

<div class="row">
    <div class="col-md-6 mb-3">
        <div class="card border-primary">
            <div class="card-body">
                <h5 class="card-title">Kullanıcılar</h5>
                <p class="card-text">Sistemdeki kullanıcıları görüntüle ve rollerini yönet.</p>
                <a asp-action="Users" class="btn btn-outline-primary">Kullanıcı Listesi</a>
            </div>
        </div>
    </div> 
    
    <div class="col-md-6 mb-3">
        <div class="card border-primary">
            <div class="card-body">
                <h5 class="card-title">Rol Yönetimi</h5>
                <p class="card-text">Rol düzenini değiştir.</p>
                <a asp-controller="Role" asp-action="Index" class="btn btn-outline-primary"> Listesi</a>
            </div>
        </div>
    </div>

    <div class="col-md-6 mb-3">
        <div class="card border-success">
            <div class="card-body">
                <h5 class="card-title">Ürünler</h5>
                <p class="card-text">Tüm ürünleri görüntüle, düzenle veya sil.</p>
                <a asp-action="ProductList" class="btn btn-outline-success">Ürün Listesi</a>
            </div>
        </div>
    </div>
</div>
